@media only screen and (max-width: 300px) {
.ui-page {
background: url(../img/woman-small.png) no-repeat bottom right fixed, url(../img/quadrati-small.png) no-repeat top right fixed;
}

.ui-header{
background: #000000 url(../img/header-small.png) no-repeat center center !important;
}

}
 
 
 
@media only screen and (min-width:301px) and (max-width:789px){
 
.ui-page {
background: url(../img/woman-medium.png) no-repeat bottom right fixed, url(../img/quadrati-medium.png) no-repeat top right fixed;
}

.ui-header{
background: #000000 url(../img/header-medium.png) no-repeat center center !important;
}

 
}
 
@media only screen and (min-width: 790px) {
 
.ui-page {
background: url(../img/woman-big.png) no-repeat bottom right fixed, url(../img/quadrati-big.png) no-repeat top right fixed;
}

.ui-header{
background: #000000 url(../img/header-big.png) no-repeat center center !important;
}
 
}