@media only screen and (max-width: 300px) {
.ui-page {
background: url(../img/woman-small.png), url(../img/quadrati-small.png);
background-repeat:no-repeat, no-repeat;
background-position: bottom right, top right;
}

.ui-header{
background: #000000 url(../img/header-small.png) no-repeat center center !important;
height: 2.5em !important;
border: 0;
}

#manicoBorsa{
height: 6.5em;
margin: auto;
margin-left: 5px;
}

#manicoBorsa img{
height: 6em !important;
}

#rigaBorsa{
height: 6.5em;
margin: auto;
}

#rigaBorsa img{
height: 6em !important;
}

#rigaBorsa .blocco_sx{
float: left;
margin: 0 10px 0 0;
}



.ui-listview .ui-btn{
background-color:rgba(246,246,246,0.9);
}

.ui-listview .ui-btn:hover{
background-color:rgba(237,237,237,0.9);
}

.ui-listview .ui-btn:active{
background-color:rgba(232,232,232,0.9);
}

.ui-listview .ui-icon-carat-r{
opacity: 1;
}

}

@media only screen and (min-width:301px) and (max-width:400px){
.ui-page {
background: url(../img/woman-medium.png), url(../img/quadrati-medium.png);
background-repeat:no-repeat, no-repeat;
background-position: bottom right, top right;
}

.ui-header{
background: #000000 url(../img/header-medium.png) no-repeat center center !important;
height: 3.5em !important;
border: 0;
}

.ui-header .ui-btn-left, .ui-header .ui-btn-right{
vertical-align: middle;
margin: auto !important;
position: absolute;
top: .8em;
}

#manicoBorsa{
height: 6.5em;
margin: auto;
margin-left: 5px;
}

#manicoBorsa img{
height: 6em !important;
}

#rigaBorsa{
height: 6.5em;
margin: auto;
}

#rigaBorsa img{
height: 6em !important;
}

#rigaBorsa .blocco_sx{
float: left;
margin: 0 10px 0 0;
}



.ui-listview .ui-btn{
background-color:rgba(246,246,246,0.9);
}

.ui-listview .ui-btn:hover{
background-color:rgba(237,237,237,0.9);
}

.ui-listview .ui-btn:active{
background-color:rgba(232,232,232,0.9);
}

.ui-listview .ui-icon-carat-r{
opacity: 1;
}



}
 
 
 
@media only screen and (min-width:401px) and (max-width:789px){
 
.ui-page {
background: url(../img/woman-medium.png), url(../img/quadrati-medium.png);
background-repeat:no-repeat, no-repeat;
background-position: bottom right, top right;
}

.ui-header{
background: #000000 url(../img/header-medium.png) no-repeat center center !important;
height: 3.5em !important;
border: 0;
}

.ui-header .ui-btn-left, .ui-header .ui-btn-right{
vertical-align: middle;
margin: auto !important;
position: absolute;
top: .8em;
}

#manicoBorsa{
height: 10.5em;
margin: auto;
margin-left: 5px;
}

#manicoBorsa img{
height: 10em !important;
}

#rigaBorsa{
height: 10.5em;
margin: auto;
}

#rigaBorsa img{
height: 10em !important;
}

#rigaBorsa .blocco_sx{
float: left;
margin: 0 10px 0 0;
}


.ui-listview .ui-btn{
background-color:rgba(246,246,246,0.9);
}

.ui-listview .ui-btn:hover{
background-color:rgba(237,237,237,0.9);
}

.ui-listview .ui-btn:active{
background-color:rgba(232,232,232,0.9);
}

.ui-listview .ui-icon-carat-r{
opacity: 1;
}


 
}
 
@media only screen and (min-width: 790px) {
 
.ui-page {
background: url(../img/woman-big.png), url(../img/quadrati-big.png);
background-repeat:no-repeat, no-repeat;
background-position: bottom right, top right;
}

.ui-header{
background: #000000 url(../img/header-big.png) no-repeat center center !important;
height: 4em !important;
border: 0;
}

.ui-header .ui-btn-left, .ui-header .ui-btn-right{
vertical-align: middle;
margin: auto !important;
position: absolute;
top: 1em;
}


#manicoBorsa{
height: 11.5em;
margin: auto;
margin-left: 5px;
}

#manicoBorsa img{
height: 11em !important;
}

#rigaBorsa{
height: 11.5em;
margin: auto;
}

#rigaBorsa img{
height: 11em !important;
}

#rigaBorsa .blocco_sx{
float: left;
margin: 0 10px 0 0;
}



.ui-listview .ui-btn{
background-color:rgba(246,246,246,0.9);
}

.ui-listview .ui-btn:hover{
background-color:rgba(237,237,237,0.9);
}

.ui-listview .ui-btn:active{
background-color:rgba(232,232,232,0.9);
}

.ui-listview .ui-icon-carat-r{
opacity: 1;
}



}